@{
    ViewData["Title"] = "About Wolf Games";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p align="left">
    Here at Wolf Games we are committed to providing quality,
    exciting games for everyone. We currently refocused our development efforts
    from the XBox platform to Windows.
</p>