@{
    ViewBag.Title = "Developer's Corner";
}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>XBox Live for 360</h2>
            <p><a href="http://xbox.create.msdn.com/en-US/">XNA Developer's Club</a></p>
            <p><a href="~/Developers/WGLibraries/index.html">Wolf Games library documentation</a></p>
            <p><a href="~/Developers/WGWebApps/index.html">Wolf Games web apps documentation</a></p>
            <p><a href="~/Developers/WGTest3rdPartyAPI/index.html">Wolf Games 3rd party API testing documentation</a></p>
            <p><a href="~/Developers/WGGames/index.html">Wolf Games game code documentation</a></p>
        </div>
        <div class="col-md-4">
            <h2>Game Engines</h2>
            <p><a href="https://unity3d.com/learn">Unity</a></p>
            <p><a href="http://www.yoyogames.com/gamemaker#">Game Maker by YoYo Games</a>
        </div>
        <div class="col-md-4">
            <h2>Other Tools</h2>
            <p><a href="https://msdn.microsoft.com/en-us/library/dd831853.aspx">Visual Studio</a></p>
            <p><a href="http://www.blender.org/">Blender</a></p>
            <p><a href="https://www.gimp.org/">Gimp</a></p>
            <p><a href="https://sandcastle.codeplex.com/">Sandcastle - code documentation tool</a></p>
            <p><a href="http://www.drpetter.se/project_sfxr.html">SFXR</a></p>
            <p><a href="https://msdn.microsoft.com/en-us/library/aa937723(v=vs.113).aspx">Entity Framework</a></p>
        </div>
    </div>
</div> <!-- /container -->
